<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedGift?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedGift?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">Save</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedGift?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
